        <div class="ui inverted vertical footer segment">
            <div id="footer-grid" class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="five wide column">
                      <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="https://neira.pl/o-autorce" class="item">O autorce // powered by Wordpress</a>
                            <a href="#" class="item">O zespole</a>
                            <a href="https://www.k2.pl/" class="item">O firmie // powered by Drupal</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Disclaimer</h4>
                        <p>&copy; Nina Tymińska</strong> | Projekt rozwojowy K2 CE // powered by Express.js</p>
                    </div>
                </div>
            </div>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
    </body>
</html>     
      
      
      
      <!--<div class="ui vertical footer segment">-->
      <!--    <div class="ui container">-->
      <!--      <strong>&copy; Nina Tymińska</strong> | Projekt rozwojowy K2 CE-->
      <!--    </div>-->
      <!--</div>-->
      