        <div class="ui inverted vertical footer segment">
            <div id="footer-grid" class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                      <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="https://neira.pl/o-autorce" class="item">O autorce prywatnie</a>
                            <a href="http://ucontentowani.pl/" class="item">O zespole</a>
                            <a href="https://www.k2.pl/" class="item">O firmie</a>
                        </div>
                    </div>
                    <div class="four wide column">
                      <h4 class="ui inverted header">Contact</h4>
                        <div class="ui inverted link list">
                            <a href="m.me/ntyminska" class="item"><i class="facebook messenger icon"></i> m.me/ntyminska</a>
                            <a href="www.linkedin.com/in/nina-tyminska" class="item"><i class="linkedin icon"></i> linkedin.com/in/nina-tyminska</a>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <h4 class="ui inverted header">Disclaimer</h4>
                        <div class="ui inverted link list">
                            <p><i class="copyright outline icon"></i> Nina Tymińska</strong> | Projekt rozwojowy K2 CE | <i class="node js icon"></i> Node.js + Express.js</p>
                            <a href="https://gitlab.com/NinaNeira/k2-projekt-rozwojowy" class="item"><i class="gitlab icon"></i> gitlab.com/NinaNeira/k2-projekt-rozwojowy</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
    </body>
</html>