        <div class="ui inverted vertical footer segment">
            <div id="footer-grid" class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="five wide column">
                      <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="https://neira.pl/o-autorce" class="item">O autorce // powered by <i class="wordpress icon"></i> Wordpress</a>
                            <a href="http://ucontentowani.pl/" class="item">O zespole</a>
                            <a href="https://www.k2.pl/" class="item">O firmie // powered by <i class="drupal icon"></i> Drupal</a>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <h4 class="ui inverted header">Disclaimer</h4>
                        <p><i class="copyright outline icon"></i> Nina Tymińska</strong> | Projekt rozwojowy K2 CE // powered by <i class="node js icon"></i> Node.js + Express.js</p>
                    </div>
                </div>
            </div>
        </div>
      
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
    </body>
</html>