<% include ../partials/header %>
    <header class="jumbotron" style="color: #222222;">
            <div class="container">
            <h1>Kursy</h1>
            <p>Kursy polecane przez CE</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/courses/new">Dodaj nowy kurs</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% courses.forEach(function(course){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= course.image %>">
                </div>
                <div class="caption">
                    <h4><%= course.name %></h4>
                    <% if (course.rating === 0) { %>
                    <em>Brak opinii.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (course.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (course.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (course.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (course.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %> 
                </div>
                <p><a href="/courses/<%= course._id %>" class="btn btn-primary">Szczegóły</a></p>
            </div>
        <% }); %>    
    </div>

<% include ../partials/footer %>