<% include ../partials/header %>


            <div id="form-grid" class="ui five column centered middle aligned center aligned stackable grid">
                <div id="form-grid-column" class="middle aligned center aligned column">
                    <h2 class="ui teal image header">
                    <div class="content">
                        Dodaj nowy wpis
                    </div>
                    </h2>
                    <form class="ui large form" action="/" method="POST">
                        <div id="login-form" class="ui stacked segment">
                            <div class="field <% if(typeof errors.name != 'undefined') { %>error<% } %>">
                                <div class="ui left icon input">
                                    <i class="edit icon"></i>
                                    <input type="text" name="name" placeholder="Tytuł" value="<%= newCourse.name %>">
                                </div>
                                <% if(typeof errors.name != "undefined") { %>
                                    <div class="ui pointing red basic label">
                                        <%= errors.name.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <textarea name="description" placeholder="Opis..."></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="globe icon"></i>
                                    <input type="text" name="website" placeholder="Strona internetowa">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="image icon"></i>
                                    <input type="text" name="image" placeholder="Obrazek">
                                </div>
                            </div>
                            <div class="field">
                                <fieldset id="category">
                                    <div>
                                        <input class="date" type="radio" name="category" value="Konferencja" checked />
                                        <i class="users icon"></i> Konferencja
                                    </div>
                                    <div>
                                        <input class="date" type="radio" name="category" value="Meetup" />
                                        <i class="meetup icon"></i> Meetup
                                    </div>
                                    <div>
                                        <input class="date" type="radio" name="category" value="Warsztat" />
                                        <i class="cogs icon"></i> Warsztat
                                    </div>
                                    <div>
                                        <input type="radio" name="category" value="Książka" />
                                        <i class="book icon"></i> Książka
                                    </div>
                                    <div>
                                        <input type="radio" name="category" value="Strona internetowa" />
                                        <i class="globe icon"></i> Strona internetowa
                                    </div>
                                    <div>
                                        <input type="radio" name="category" value="Program" />
                                        <i class="desktop icon"></i> Program
                                    </div>
                                </fieldset>
                            </div>
                            <div id="date" class="field">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="date" placeholder="Data wydarzenia" />
                                </div>
                            </div>
                            </div>
                            <div class="field">
                                <button class="fluid ui large inverted primary button">Dodaj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
<% include ../partials/footer %>