<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center">Dodaj komentarz do <%= course.name %></h1>
        <div class="form">
            <form action="/courses/<%= course._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Komentarz">
                </div>
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="text" name="comment[author]" placeholder="Autor">-->
                <!--</div>-->
                <div class="form-group">
                    <button class="btn btn-lg btn-default">Dodaj</button>
                </div>
            </form>
        </div>
    </div>

<% include ../partials/footer %>