<% include ./partials/header %>

    <div class="row">
        <h1 style="text-align: center">Zarejestruj się</h1>
        <div class="form">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Nazwa użytkownika">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Hasło">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="Imię">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Nazwisko">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="Avatar">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="adminCode" placeholder="Kod admina">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default">Zarejestruj się</button>
                </div>
            </form>
        </div>
    </div>

<% include ./partials/footer %>