<% include ./partials/header %>

            <div id="form-grid" class="ui five column centered middle aligned center aligned stackable grid">
                <div class="middle aligned center aligned column">
                    <h2 class="ui teal image header">
                    <div class="content">
                        Zarejestruj się
                    </div>
                    </h2>
                    <form class="ui large form" action="/register" method="POST">
                        <div id="login-form" class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="Nazwa użytkownika">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Hasło">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user circle icon"></i>
                                    <input type="text" name="firstName" placeholder="Imię">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user circle icon"></i>
                                    <input type="text" name="lastName" placeholder="Nazwisko">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="image icon"></i>
                                    <input type="text" name="avatar" placeholder="Avatar">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="address card icon"></i>
                                    <input type="text" name="about" placeholder="O mnie">
                                </div>
                            </div>
                            <div class="field">
                                <button class="fluid ui large inverted primary button">Zarejestruj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>