<% include ../partials/header %>
    <div id="form-grid" class="ui three column centered stackable grid">
        <div id="notification-column" class="column">
            <div class="ui very relaxed divided inverted list not-list">
                <h3>Archiwum - ostatnie powiadomienia</h3>
                <% allNotifications.slice(0, 10).forEach(function(notification) { %>
                <div class="item">
                    <img class="ui avatar image" src="<%= notification.avatar %>">
                    <div class="content">
                        <a class="header"><%= notification.username %></a>
                        <div class="description">Nowy wpis: <a href="/c/<%= notification.courseId %>"><%= notification.courseName %></a></div>
                    </div>
                </div>
                <% }); %> 
            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %> 